import React from "react";
import ReactDOM from "react-dom/client";
import {{ pageName }}Page from "../pages/{{ pageName }}Page";
import "../index.css";

ReactDOM.createRoot(document.getElementById("root")!).render(
  <React.StrictMode>
    <{{ pageName }}Page />
  </React.StrictMode>
);
