export function {{ componentName }}() {
  return (
    <section className="bg-white py-24 sm:py-32">
      <div className="mx-auto max-w-7xl px-6 lg:px-8">
        {% if title %}
          <h2 className="text-center text-lg font-semibold leading-8 text-slate-900 mb-10">
            {{ title }}
          </h2>
        {% endif %}
        
        {% if items %}
          <div className="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
            {% for item in items %}
              {% if item.href %}
                <a href="{{ item.href }}" className="col-span-2 lg:col-span-1 flex justify-center grayscale hover:grayscale-0 transition duration-300">
                  <img className="max-h-12 w-full object-contain" src="{{ item.src }}" alt="{{ item.name }}" width={158} height={48} />
                </a>
              {% else %}
                <div className="col-span-2 lg:col-span-1 flex justify-center grayscale hover:grayscale-0 transition duration-300">
                  <img className="max-h-12 w-full object-contain" src="{{ item.src }}" alt="{{ item.name }}" width={158} height={48} />
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </section>
  );
}
